{
  "ConnectionStrings": {
    "AdminDb": "Host=localhost;Port=5432;Database=ecunexo;Username=ecunexo;Password=CHANGE_ME"
  },
  "Sri": {
    "UseInMemoryGateway": false,
    "DefaultEnvironment": "Test"
  },
  "RideProvider": {
    "Ruc": "PEGAR_RUC_13_DIGITOS_DE_LA_EMPRESA_DE_SOFTWARE",
    "LegalName": "EcuNexo",
    "FooterLine": "Documento generado por EcuNexo"
  }
}
